<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
	</startup>
	<connectionStrings>
		<add name="MovieDB"
		 providerName="Microsoft.Data.SqlClient"
		 connectionString="Data Source=coursemaster1.csbchotp6tva.us-east-2.rds.amazonaws.com,1433;Initial Catalog=CSCI1630;User ID=rw1630;Password=Project!;" />
	</connectionStrings>
</configuration>


